<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="teamSectionFragment" class="team-container-unique">

    <h1 class="team-heading-unique">Meet Our Expert Team Members</h1>
    <p class="team-subtitle-unique">
        Meet our expert team, dedicated professionals ready to elevate your business with innovation, precision, and passion.
    </p>

    <div class="team-grid-unique">
        <div class="team-card-unique">
            <img src="/images/our-team-image/aman-patel.png" alt="Aman Patel">
            <div class="team-info-unique">
                <div class="team-name-unique">Aman Patel</div>
                <div class="team-title-unique">Founder & CEO</div>
                <div class="team-social-links-unique">
                    <a href="https://www.linkedin.com/in/aman-patel-337109373"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>

        <div class="team-card-unique">
            <img src="/images/our-team-image/anjali-rai.jpeg" alt="Anjali Rai">
            <div class="team-info-unique">
                <div class="team-name-unique">Anjali Rai</div>
                <div class="team-title-unique">Content Writer</div>
                <div class="team-social-links-unique">
                    <a href="https://www.linkedin.com/in/anjali-rai-83b316209"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>

        <div class="team-card-unique">
            <img src="/images/our-team-image/manisha-singh.jpeg" alt="Manisha Singh">
            <div class="team-info-unique">
                <div class="team-name-unique">Manisha Singh</div>
                <div class="team-title-unique">HR</div>
                <div class="team-social-links-unique">
                    <a href="https://www.linkedin.com/in/manisha-singh-a00a5b2b1"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>


        <div class="team-card-unique">
            <img src="/images/our-team-image/satayjeet-kumar.png" alt="Satyajeet Kumar">
            <div class="team-info-unique">
                <div class="team-name-unique">Satyajeet Kumar</div>
                <div class="team-title-unique">Web Developer</div>
                <div class="team-social-links-unique">
                    <a href="https://www.linkedin.com/in/satyajeet-kumar-0b869929a"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>

        <div class="team-card-unique">
            <img src="/images/our-team-image/asmit-patel.png" alt="Asmit Patel">
            <div class="team-info-unique">
                <div class="team-name-unique">Asmit Patel</div>
                <div class="team-title-unique">Digital Marketing</div>
                <div class="team-social-links-unique">
                    <a href="https://www.linkedin.com/in/asmit-patel-b08aa6357"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>


        <div class="team-card-unique">
            <img src="/images/our-team-image/tanmay-shah.jpeg" alt="Tanmay Shah">
            <div class="team-info-unique">
                <div class="team-name-unique">Tanmay Shah</div>
                <div class="team-title-unique">Digital Marketing</div>
                <div class="team-social-links-unique">
                    <a href="https://www.linkedin.com/in/tanmay-saha-29a616297"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>